  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .u-m-0 {
    margin: 0 !important;
  }
  
  .u-mt-0,
  .u-my-0 {
    margin-top: 0 !important;
  }
  
  .u-mr-0,
  .u-mx-0 {
    margin-right: 0 !important;
  }
  
  .u-mb-0,
  .u-my-0 {
    margin-bottom: 0 !important;
  }
  
  .u-ml-0,
  .u-mx-0 {
    margin-left: 0 !important;
  }
  
  .u-m-1 {
    margin: 0.25rem !important;
  }
  
  .u-mt-1,
  .u-my-1 {
    margin-top: 0.25rem !important;
  }
  
  .u-mr-1,
  .u-mx-1 {
    margin-right: 0.25rem !important;
  }
  
  .u-mb-1,
  .u-my-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .u-ml-1,
  .u-mx-1 {
    margin-left: 0.25rem !important;
  }
  
  .u-m-2 {
    margin: 0.5rem !important;
  }
  
  .u-mt-2,
  .u-my-2 {
    margin-top: 0.5rem !important;
  }
  
  .u-mr-2,
  .u-mx-2 {
    margin-right: 0.5rem !important;
  }
  
  .u-mb-2,
  .u-my-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .u-ml-2,
  .u-mx-2 {
    margin-left: 0.5rem !important;
  }
  
  .u-m-3 {
    margin: 1rem !important;
  }
  
  .u-mt-3,
  .u-my-3 {
    margin-top: 1rem !important;
  }
  
  .u-mr-3,
  .u-mx-3 {
    margin-right: 1rem !important;
  }
  
  .u-mb-3,
  .u-my-3 {
    margin-bottom: 1rem !important;
  }
  
  .u-ml-3,
  .u-mx-3 {
    margin-left: 1rem !important;
  }
  
  .u-m-4 {
    margin: 1.5rem !important;
  }
  
  .u-mt-4,
  .u-my-4 {
    margin-top: 1.5rem !important;
  }
  
  .u-mr-4,
  .u-mx-4 {
    margin-right: 1.5rem !important;
  }
  
  .u-mb-4,
  .u-my-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .u-ml-4,
  .u-mx-4 {
    margin-left: 1.5rem !important;
  }
  
  .u-m-5 {
    margin: 3rem !important;
  }
  
  .u-mt-5,
  .u-my-5 {
    margin-top: 3rem !important;
  }
  .u-mb-5,
  .u-my-5 {
    margin-bottom: 3rem !important;
  }
  .u-mr-5,
  .u-mx-5 {
    margin-right: 3rem !important;
  }
  .u-ml-5,
  .u-mx-5 {
    margin-left: 3rem !important;
  }
  .u-p-0 {
    padding: 0 !important;
  }
  
  .u-pt-0,
  .u-py-0 {
    padding-top: 0 !important;
  }
  
  .u-pr-0,
  .u-px-0 {
    padding-right: 0 !important;
  }
  
  .u-pb-0,
  .u-py-0 {
    padding-bottom: 0 !important;
  }
  
  .u-pl-0,
  .u-px-0 {
    padding-left: 0 !important;
  }
  
  .u-p-1 {
    padding: 0.25rem !important;
  }
  
  .u-pt-1,
  .u-py-1 {
    padding-top: 0.25rem !important;
  }
  
  .u-pr-1,
  .u-px-1 {
    padding-right: 0.25rem !important;
  }
  
  .u-pb-1,
  .u-py-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .u-pl-1,
  .u-px-1 {
    padding-left: 0.25rem !important;
  }
  
  .u-p-2 {
    padding: 0.5rem !important;
  }
  
  .u-pt-2,
  .u-py-2 {
    padding-top: 0.5rem !important;
  }
  
  .u-pr-2,
  .u-px-2 {
    padding-right: 0.5rem !important;
  }
  
  .u-pb-2,
  .u-py-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .u-pl-2,
  .u-px-2 {
    padding-left: 0.5rem !important;
  }
  
  .u-p-3 {
    padding: 1rem !important;
  }
  
  .u-pt-3,
  .u-py-3 {
    padding-top: 1rem !important;
  }
  
  .u-pr-3,
  .u-px-3 {
    padding-right: 1rem !important;
  }
  
  .u-pb-3,
  .u-py-3 {
    padding-bottom: 1rem !important;
  }
  
  .u-pl-3,
  .u-px-3 {
    padding-left: 1rem !important;
  }
  
  .u-p-4 {
    padding: 1.5rem !important;
  }
  
  .u-pt-4,
  .u-py-4 {
    padding-top: 1.5rem !important;
  }
  
  .u-pr-4,
  .u-px-4 {
    padding-right: 1.5rem !important;
  }
  
  .u-pb-4,
  .u-py-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .u-pl-4,
  .u-px-4 {
    padding-left: 1.5rem !important;
  }
  
  .u-p-5 {
    padding: 3rem !important;
  }
  
  .u-pt-5,
  .u-py-5 {
    padding-top: 3rem !important;
  }
  
  .u-pr-5,
  .u-px-5 {
    padding-right: 3rem !important;
  }
  
  .u-pb-5,
  .u-py-5 {
    padding-bottom: 3rem !important;
  }
  
  .u-pl-5,
  .u-px-5 {
    padding-left: 3rem !important;
  }
  .text-left {
    text-align: left !important;
  } 
  .text-right {
    text-align: right !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-white {
    color: #fff !important;
  }
  .text-primary {
    color: #007bff !important;
  }
  .text-secondary {
    color: #6c757d !important;
  }
  .text-success {
    color: #28a745 !important;
  }
  .text-info {
    color: #17a2b8 !important;
  }
  .text-warning {
    color: #ffc107 !important;
  }
  .text-danger {
    color: #dc3545 !important;
  }
  .text-light {
    color: #f8f9fa !important;
  }
  .text-dark {
    color: #343a40 !important;
  }
  .text-muted {
    color: #6c757d !important;
  }
  .bg-primary {
    background-color: #007bff !important;
  }
  .bg-secondary {
    background-color: #6c757d !important;
  }
  .bg-success {
    background-color: #28a745 !important;
  }
  .bg-info {
    background-color: #17a2b8 !important;
  }
  .bg-warning {
    background-color: #ffc107 !important;
  } 
  .bg-danger {
    background-color: #dc3545 !important;
  }
  .bg-light {
    background-color: #f8f9fa !important;
  }
  .bg-dark {
    background-color: #343a40 !important;
  }
  .bg-white {
    background-color: #fff !important;
  }
  .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }