
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: url(../bg4.jpg);
    background-color: #151513;	
    background-repeat: no-repeat;
    background-size:cover;
}
nav .logo-div{
	flex: 30%;
	max-width: 30%;
	font-family: 'Aldrich';font-size: 22px;
    color:#F4511E;
    text-align:center;
}
nav .signup-signin-div{
	flex: 70%;
	max-width: 70%;
    font-family: 'Aldrich';
    color:#F4511E;    
    text-align:right;    
}
nav .signup-signin-div h4{
    margin-right:3rem;        
}
nav a {
    color: inherit; 
    text-decoration:none;
} 
.section-1{
    margin-top:3rem;
    margin-bottom:10rem;    
}
.home-texts{
    flex: 70%;
    max-width: 70%;
    text-align:center;
}
.home-texts h1{
	font-size:40px;
    font-family: 'Aldrich';
    color:#fff;
    text-align:center;
}
.home-texts p{
	font-size:30px;
	font-family: 'Abel';	
	color:#151513;
	background-color: #f8f9fa;
	border-radius: 2px;
	padding:5px 10px;
}
.home-texts a{
	display: inline-block;
	border-radius: 50px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 50%;
	transition: all 0.5s;
	cursor: pointer;
    margin: 5px;
    text-align:center;
}
.home-texts a span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.home-texts a span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.home-texts a:hover span {
	padding-right: 25px;
}
.home-texts a:hover span:after {
    opacity: 1;
    right: 0;
}
footer{
    border-top:1px solid rgba(97, 95, 95, 0.31);
    /* position:absolute;
    bottom:0; */
    width:100%;
}
footer div{
    flex: 80%;
    max-width: 80%;
    color:#fff;
}

@media only screen and (max-width: 768px) {
nav .logo-div {
    flex: 40%;
    max-width: 40%;
    font-size: 18px;
}
nav .signup-signin-div {
    flex: 60%;
    font-size: 13px;
    max-width: 60%;
}
nav .signup-signin-div h4{
    margin-right:1.5rem;        
}
.section-1{
    margin-top:3rem;
    margin-bottom:7rem;    
    min-height:300px;
}
.home-texts{
    flex: 80%;
    max-width: 80%;
}
.home-texts h1{
    font-size:25px;
    font-family: 'Aldrich';
}
.home-texts p{
    font-size:20px;
    font-family: 'Abel';	
    color:#151513;
    background-color: #f8f9fa;
    border-radius: 2px;
    padding:5px 10px;
}
.home-texts a{
    font-size: 15px;
    width: 80%;
}
}